body
{
	background-color:#F1F3F8;
	font-family:"Helvetica",Arial;
}
{
	width:960px;
	margin:0 auto;
	text-align:center
}
#contenido
{
	text-align:center;
}
h1
{
	color:green
}
.menu
{
	display:inline-block;
	margin-right:20px;
	color:black
	cursor:pointer;
}
.menu ul li {
	list-style: none;
	float: right
}
.menu ul li a{
	text-decoration: none;
	padding:10px 15px;
	border:0px solid #ccc;
	color: #79584E;
}
#textoPr
{
	width:600px;
	height:200px;
	background-color:#C0A59D;
	color:black;
	margin:0 auto;
	text-align:left;
	border-radius:20px;
	padding:20px;
}
#textoPr1
{
	width:600px;
	height:200px;
	background-color:#7FEDCD;
	color:black;
	margin:0 auto;
	text-align:left;
	border-radius:20px;
	padding:20px;
}
a
{
	color:brown;
	font-weight:bold;
}
#miFooter
{
	color:blue;
}
